nav[class*="navbar"]{background-color:  rgb(11, 92, 204);}
div[class*="düymə"]{ height: 50px;transform: translate(-30px,135px); }
div[class*="yoxedirik"]{display: none;}
div[class*="mesajj"]{ width: 1600px;height: 1600px;} 
div[class*="mesajbox"]{ transform: translate(0px,0px);} 
div[class*="siyahı"]{width: 370px;height: 590px;}
div[class*="videocal"]{width: 1000px;}
div[class*="videocall"]{padding: 0px;}
div[class*="ist"]{height: 700px;}

div[class*="kontey"]{ position: relative;} 
div[class*="inpox"]{ position: absolute;transform: translate(10px);} 
div[class*="fırr"]{}
div[class*="fır"]{
    transform: translate(-10px,-5px);
    width: 350px;
    height: 100px;}

div[class*="sagsol"]{display: flex; column-gap: 30px;}
div[class*="siyahıı"]{width: 1160px;padding: 3px;border: 0px;}

div[class*="məlumatlar"]{
    width: 350px; transform: translate(-25px,-60px);
}
div[class*="məlumatlar1"]{
    width: 400px; transform: translate(250px,-900px); 
}
#emojiPicker{width: 400px;}
div[class*="ss"]{transform: translate(10px,40px);}
select[class*="filterCategory"]{ border-radius: 16px;}
#filterCategory{border-radius: 16px;}
div[class*="ayar"]{z-index: 1; transform: translate(0px,20px);width: 600px;}
#recentChatsList{transform: translate(-5px,0px);}

#messagesContainer{height: 600px;background-image: url(https://freedesignfile.com/upload/2022/10/Abstract-technology-background-design-vector.jpg);background-size: 100%;}

#chatInterface{
    transform: translate(180px,-70px);
    width: 840px;
    height: 590px;
    transform: translate(370px,-25px);
    border: 1px solid #1B66EA;}
#tailwind-config{margin: 0px;padding: 0px;} 